site_name: Escritório de Dados

nav:
  - Home:
    - Olá!: index.md
    - Tutoriais:
      - Como acessar dados no data lake: tutoriais/como-acessar-dados.md
      - Como configurar a conexão do PowerBI com o BigQuery: tutoriais/como-configurar-conexao-powerbi-bigquery.md
    - Guia de desenvolvedores:
      - Visão geral da infraestrutura: guia-desenvolvedores/visao-geral-infra.md
      - Metadados, padronização e normalização: guia-desenvolvedores/metadados-padronizacao.md
      - Desenvolvimento de pipelines de dados: guia-desenvolvedores/pipelines.md
      - Publicando dados com DBT: guia-desenvolvedores/dbt.md
    - Sobre:
      - Contato: contato.md

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-outline
        name: Mudar para tema escuro
    - scheme: slate
      toggle:
        icon: material/toggle-switch-off
        name: Mudar para tema claro
  language: pt
  font:
    text: Lato
  favicon: static/img/logo.png
  logo: static/img/logo_header.png
  features:
    - header.autohide
    - navigation.sections
    - navigation.top
    - toc.integrate
    - content.tabs.link

repo_url: https://github.com/prefeitura-rio/docs
repo_name: prefeitura-rio/docs

plugins:
  - mkdocs-video

extra:
  version: 2.0
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/dados_rio
    - icon: fontawesome/brands/discord
      link: https://discord.gg/Xx8Y6mYaq2
    - icon: fontawesome/brands/github
      link: https://github.com/prefeitura-rio

markdown_extensions:
  - admonition
  - pymdownx.details
  - mkdocs_click
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences

extra_css:
- static/css/custom.css
