/* Light mode */
[data-md-color-scheme=default] {
    --md-accent-fg-color:           #247a7a; /* Outline color */
    --md-default-bg-color:          #f5f5f5; /* Page background color */
    --md-default-fg-color:          #212121; /* Page text color */
    --md-default-fg-color--light:   #3b3b3b; /* H1 text color */
    --md-default-fg-color--lighter: #696969; /* Page icons color */
    --md-default-fg-color--lightest:#a0a0a0; /* Page icons color */
    --md-primary-fg-color:          #247a7a; /* Header background color */
    --md-primary-fg-color--dark:    #247a7a; /* Mobile navbar background color */
    --md-primary-bg-color:          #f5f5f5; /* Header text color */
    --md-code-bg-color:             #2A2A2A; /* Code background color */
    --md-code-fg-color:             #247a7a; /* Code text color */
    --md-typeset-a-color:           #247a7a; /* URLs color */
    --md-footer-bg-color:           #247a7a; /* Footer background color */
    --md-footer-fg-color:           #FAFAFA; /* Footer text color */
    --md-footer-fg-color--light:    #DADADA; /* Footer text and icons color */
    --md-footer-fg-color--lighter:  #7A7A7A; /* Footer text color */
}

/* Dark mode */
[data-md-color-scheme=slate] {
    --md-accent-fg-color:           #247a7a; /* Outline color */
    --md-default-bg-color:          #0A0A0A; /* Page background color */
    --md-default-fg-color:          #FAFAFA; /* Page text color */
    --md-default-fg-color--light:   #FAFAFA; /* H1 text color */
    --md-default-fg-color--lighter: #DADADA; /* Page icons color */
    --md-default-fg-color--lightest:#7A7A7A; /* Page icons color */
    --md-primary-fg-color:          #247a7a; /* Header background color */
    --md-primary-fg-color--dark:    #247a7a; /* Mobile navbar background color */
    --md-primary-bg-color:          #FAFAFA; /* Header text color */
    --md-code-bg-color:             #2A2A2A; /* Code background color */
    --md-code-fg-color:             #247a7a; /* Code text color */
    --md-typeset-a-color:           #247a7a; /* URLs color */
    --md-footer-bg-color:           #247a7a; /* Footer background color */
    --md-footer-fg-color:           #FAFAFA; /* Footer text color */
    --md-footer-fg-color--light:    #DADADA; /* Footer text and icons color */
    --md-footer-fg-color--lighter:  #7A7A7A; /* Footer text color */
}