/* Light mode */
[data-md-color-scheme=default] {
    --md-default-bg-color:          #e5f6fa; /* Page background color */
    --md-default-fg-color:          #212121; /* Page text color */
    --md-default-fg-color--light:   #212121; /* H1 text color */
    --md-default-fg-color--lighter: #212121; /* Page icons color */
    --md-default-fg-color--lightest:#212121; /* Page icons color */
    --md-primary-fg-color:          #90E0EF; /* Header background color */
    --md-primary-bg-color:          #000000; /* Header text color */
    --md-code-bg-color:             #2A2A2A; /* Code background color */
    --md-code-fg-color:             #00B4D8; /* Code text color */
    --md-typeset-a-color:           #00B4D8; /* URLs color */
    --md-footer-bg-color:           #0A0A0A; /* Footer background color */
    --md-footer-fg-color:           #212121; /* Footer text color */
    --md-footer-fg-color--light:    #DADADA; /* Footer text and icons color */
    --md-footer-fg-color--lighter:  #7A7A7A; /* Footer text color */
}

/* Dark mode */
[data-md-color-scheme=slate] {
    --md-default-bg-color:          #0A0A0A; /* Page background color */
    --md-default-fg-color:          #FAFAFA; /* Page text color */
    --md-default-fg-color--light:   #FAFAFA; /* H1 text color */
    --md-default-fg-color--lighter: #FAFAFA; /* Page icons color */
    --md-default-fg-color--lightest:#FAFAFA; /* Page icons color */
    --md-primary-fg-color:          #03045E; /* Header background color */
    --md-primary-bg-color:          #FAFAFA; /* Header text color */
    --md-code-bg-color:             #2A2A2A; /* Code background color */
    --md-code-fg-color:             #00B4D8; /* Code text color */
    --md-typeset-a-color:           #00B4D8; /* URLs color */
    --md-footer-bg-color:           #0A0A0A; /* Footer background color */
    --md-footer-fg-color:           #FAFAFA; /* Footer text color */
    --md-footer-fg-color--light:    #DADADA; /* Footer text and icons color */
    --md-footer-fg-color--lighter:  #7A7A7A; /* Footer text color */
}